<%- include('index') %>
<main>
    <h1>Become An Admin Member!</h1>
    <div>
        <form method="POST" action=" ">
            <label for="admin">Enter Admin Password:</label>
            <input type="password" name="admin" id="admin" />
            <button type="submit">Submit</button>
        </form>
        <div>
            <%=msg %>
        </div>
    </div>
</main>